@font-face {
    font-family: "Cantarell";
    src: url('Cantarell.otf');
}

:root {
    --cor-fundo: #ffffff;
    --cor-texto: #111111;
    --cor-borda: #7F7F7F;
    --cor-cinza: #ccc;
    --cor-azul: #4096f5;
    --escuro: #000;
    --claro: #fff;
    --borda-normal: solid 2px var(--cor-borda);
    --borda-raio: 0.9em;
    --espaco-externo: 15px;
    --espaco-interno: 10px;
    --altura: 4vh;
    --altura-2: 6vh;
}

@media (prefers-color-scheme: dark) {
    :root {
        --cor-fundo: #111111;
        --cor-texto: #fffadf;
        --cor-borda: #cecece;
        --cor-cinza: #222222;
    }
}

* {
    color: var(--cor-texto);
    font-family: 'Cantarell';
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo);
    width: 100%;
    min-height: 100vh; /* Ajuste */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--espaco-externo);
    gap: var(--espaco-externo);
    overflow-y: scroll;
}

.area_edicao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media (max-aspect-ratio: 1/1) and (max-width: 680px) {
        flex-direction: column-reverse;
    }
}

.bloco_cores,
.bloco_cor_atual {
    display: flex;
    padding: var(--espaco-interno);
    flex-direction: column;
    align-items: center;
    gap: var(--espaco-externo);
}

.fundo_cor_atual {
    display: flex;
    width: 75%;
    aspect-ratio: 1 / 1;
    height: auto;
    overflow: hidden;
}

#cor_atual {
    flex: 1;
    background-color: rbga(0, 0, 255, 1);
}

.fundo_quadriculado {
    background-color: var(--cor-cinza);
    background-image:
        linear-gradient(45deg, var(--cor-fundo) 25%, transparent 25%, transparent 75%, var(--cor-fundo) 75%, var(--cor-fundo)),
        linear-gradient(45deg, var(--cor-fundo) 25%, transparent 25%, transparent 75%, var(--cor-fundo) 75%, var(--cor-fundo));
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
}

.bloco_deslizar,.cor_fixada,
.botao button, #cores_fixadas,
.fundo_cor_atual, .entrada {
    border: var(--borda-normal);
    border-radius: var(--borda-raio);
}

.entrada {
    width: 100%;
    padding: var(--espaco-interno);
    text-align: center;
    color: var(--cor-texto);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.entrada label,
.entrada button {
    color: var(--cor-borda);
    flex-shrink: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.entrada button:hover {
    background-color: var(--cor-azul);
}

.entrada input {
    border: none;
    outline: none;
    background-color: transparent;
    text-align: center;
    flex-grow: 1;
    max-width: 70%;
    min-width: 50px;
}

.cor_fixada:hover
.bloco_deslizar:hover,
.botao button:hover,
.entrada:focus,
.entrada:hover {
    cursor: pointer;
    border-color: var(--cor-azul);
    outline: none;
}

.botao {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.botao button {
    width: 100%;
    background-color: var(--cor-fundo);
    text-align: center;
    padding: 0.5rem;
}

#roda_cores {
    cursor: crosshair;
    border: var(--borda-normal);
    border-radius: 50%;
    @media (max-width: 320px) {
        display: none;
    }
}

.bloco_deslizar {
    display: flex;
    width: 100%;
    overflow: hidden;
    height: var(--altura)
}

#transparencia {
    background: linear-gradient(to right, transparent, var(--claro));
}

#claridade {
    background: linear-gradient(to right, var(--escuro), var(--claro));
}

.bloco_deslizar input[type="range"]::-webkit-slider-runnable-track,
.bloco_deslizar input[type="range"] {
    -webkit-appearance: none;
    outline: none;
    flex: 1;
    margin: 0;
    background-color: transparent;
}


.bloco_deslizar input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 0.4rem;
    height: 100%;
    border: none;
    background-color: var(--cor-azul);
}

.bloco_deslizar input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 0.4rem;
    height: 100%;
    border: none;
    background-color: var(--cor-azul);
}

#cores_fixadas {
    display: flex;
    flex-wrap: wrap; 
    gap: var(--espaco-interno);
    padding: var(--espaco-interno);
    width: calc(9 * (var(--altura-2) + var(--espaco-interno)) + (var(--espaco-interno) * 9));
    max-width: calc(100% - var(--espaco-externo));
    height: calc(var(--altura) * 4 + (var(--espaco-interno) * 2) * 3 + var(--espaco-interno) * 2);
    min-height: calc(var(--altura) * 4 + (var(--espaco-interno) * 2) * 3 + var(--espaco-interno) * 2);
    overflow-y: scroll;
    @media (max-aspect-ratio: 1/1) {
        width: calc(5 * (var(--altura-2) + var(--espaco-interno)) + (var(--espaco-interno) * 9));
    }
}

.cor_fixada {
    height: var(--altura-2);
    aspect-ratio: 1 / 1;
    width: auto;
    border-radius: 20%;
}

.bloco_deslizar input[type="range"]:hover,
.cor_fixada:hover {
    cursor: pointer;
    border-color: var(--cor-azul);
    outline: none;
}